<script lang="ts">
  import { goto } from '$app/navigation';
  import { enhance } from '$app/forms';
  import type { ActionData } from './$types';

  export let form: ActionData;
  let email;
  let password;

  // $: console.log('FORM: ', form);
</script>

<svelte:head>
  <title>Visage depilación</title>
</svelte:head>

<section class="flex h-screen w-screen bg-stone-50">
  <div
    class="hidden h-screen w-2/3 bg-cover bg-center bg-no-repeat md:flex"
    style="background-image: url('/images/login.jpg')"
  />
  <div class="h-full w-full px-16 pt-16 md:w-1/3">
    <div class="mb-6 flex w-48">
      <img src="/images/logo.png" class="w-48" alt="Visage depilación" />
    </div>
    <form use:enhance method="POST" class="space-y-6">
      <div class="mx-auto">
        <label for="email">Email</label>
        <input
          name="email"
          type="email"
          placeholder="Email"
          required
          bind:value={email}
        />
        <!-- {#if form?.errors?.email}
          <span class="error">{form?.errors?.email[0]}</span>
        {/if} -->
      </div>

      <div>
        <label for="password" class="sr-only">Password</label>
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
          bind:value={password}
        />
        <!-- {#if form?.errors?.password}
          <span class="error">{form?.errors?.password[0]}</span>
        {/if} -->
      </div>
      <!-- <button on:click={goto('clientes')}>Ingresar</button> -->
    </form>
    <button on:click={() => goto('citas')} class="mt-4">Ingresar</button>
  </div>
</section>

<style lang="postcss">
  :global(html) {
    background-color: theme(colors.gray.100);
  }
  label {
    @apply sr-only pl-2 text-sm text-jungleGreen-900;
  }
  input {
    @apply h-12 w-full rounded-md border border-jungleGreen-400 bg-white p-3 text-jungleGreen-700 
        placeholder-jungleGreen-600 placeholder-opacity-80 focus:outline-none focus:ring-1 focus:ring-jungleGreen-300;
  }
  button {
    @apply h-12 w-full rounded-md bg-marigold-600 font-medium text-white;
  }
  .error {
    @apply mt-1 block pl-1 text-rose-400;
  }
</style>
