<script lang="ts">
  import DashboardLayout from '$lib/components/layouts/Dashboard.svelte';
  import {
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
  } from 'flowbite-svelte';
</script>

<DashboardLayout
  title="Gastos"
  showAddButton={true}
  showFilterClinic={true}
  showSearch={true}
>
  <Table hoverable={true}>
    <TableHead>
      <TableHeadCell>Clinica</TableHeadCell>
      <TableHeadCell>Descripción</TableHeadCell>
      <TableHeadCell>Total</TableHeadCell>
      <TableHeadCell>Fecha</TableHeadCell>
    </TableHead>
    <TableBody class="divide-y">
      <TableBodyRow>
        <TableBodyCell>
          <a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
          Las Fuentes
          </a>
        </TableBodyCell>
        <TableBodyCell>Bonos comida</TableBodyCell>
        <TableBodyCell>$300.00 MXN</TableBodyCell>
        <TableBodyCell>2023-07-08</TableBodyCell>
      </TableBodyRow>
      <TableBodyRow>
        <TableBodyCell>
          <a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            Las Fuentes
          </a>
        </TableBodyCell>
        <TableBodyCell>Limpieza </TableBodyCell>
        <TableBodyCell>$300.00 MXN</TableBodyCell>
        <TableBodyCell>2023-07-08</TableBodyCell>
      </TableBodyRow>
    </TableBody>
  </Table>
</DashboardLayout>
