<script lang="ts">
  export let width = 24;
  export let height = 24;
</script>

<svg {width} {height} viewBox="0 0 391.24 408.04">
  <g id="c">
    <path
      d="m201.98,0c15.99,4.48,26.01,17.03,36.73,28.2,7.51,7.82,15.42,10.22,25.67,8.13,8.04-1.64,16.25-2.49,24.4-3.58,19.83-2.64,36.37,8.81,40.59,28.42,2.01,9.33,3.65,18.75,4.95,28.2,1.14,8.3,4.69,14.18,12.62,17.77,8.2,3.71,16.06,8.19,23.93,12.59,19.35,10.81,25.35,29.29,16.03,49.4-3.9,8.42-7.93,16.79-12.29,24.97-3.54,6.65-3.73,12.89-.12,19.59,4.15,7.69,7.86,15.63,11.65,23.51,10.62,22.06,4.58,40.37-17.17,52.08-7.47,4.02-14.84,8.29-22.53,11.84-7.28,3.36-10.81,8.78-11.95,16.49-1.39,9.44-3.03,18.86-4.94,28.21-4.23,20.67-20.55,32.16-41.32,29.36-9.73-1.31-19.48-2.48-29.17-4.01-6.88-1.09-12.36.78-17.21,5.82-6.44,6.69-13.17,13.12-19.97,19.44-16.67,15.49-35.86,15.5-52.53.01-6.61-6.14-13.21-12.33-19.38-18.91-5.23-5.57-11.13-7.53-18.59-6.3-9.68,1.6-19.43,2.75-29.15,4.1-19.16,2.66-36.19-8.95-40.3-27.91-2.13-9.84-3.73-19.81-5.21-29.77-1.14-7.7-4.63-13.16-11.92-16.5-7.46-3.42-14.6-7.55-21.85-11.43-22.69-12.11-28.62-30.17-17.49-53.18,3.81-7.87,7.49-15.82,11.56-23.56,3.26-6.19,3.12-11.97-.08-18.13-4.52-8.7-8.87-17.51-12.91-26.44-8.82-19.49-2.91-37.7,15.64-48.25,8.06-4.59,16.18-9.16,24.61-13.01,7.91-3.61,11.48-9.48,12.61-17.77,1.25-9.19,2.93-18.33,4.81-27.42,4.24-20.53,20.64-31.9,41.52-29.08,9.99,1.35,19.99,2.59,29.97,4.06,6.31.93,11.37-.94,15.77-5.52,4.6-4.78,9.07-9.83,14.33-13.8C171.61,11.33,180.54,5.83,189.22,0c4.25,0,8.5,0,12.75,0Zm90.76,352.11c8.14.13,12.6-3.77,14.21-12.43,1.75-9.38,3.43-18.78,4.89-28.21,2.1-13.56,9.04-23.49,21.29-29.79,8.72-4.48,17.38-9.1,25.96-13.85,8.75-4.85,10.58-10.18,6.44-19.09-4.13-8.89-8.49-17.68-12.91-26.44-6.17-12.24-6.16-24.37.01-36.62,4.3-8.52,8.47-17.1,12.52-25.74,4.63-9.87,2.94-14.83-6.8-20.15-8.38-4.58-16.78-9.11-25.27-13.47-12.25-6.3-19.17-16.24-21.26-29.8-1.45-9.43-3.13-18.83-4.9-28.21-1.83-9.76-7.14-13.48-17.02-12.09-8.93,1.26-17.86,2.54-26.76,3.97-14.35,2.31-26.75-1.1-37.06-11.71-6.1-6.28-12.52-12.26-18.84-18.32-9.13-8.76-14.09-8.82-23.07-.24-6.33,6.05-12.76,12.02-18.84,18.33-10.49,10.88-23.12,14.32-37.76,11.88-8.63-1.44-17.31-2.62-25.97-3.87-10.3-1.49-15.57,2.25-17.43,12.49-1.71,9.39-3.37,18.79-4.89,28.21-2.14,13.23-8.97,22.99-20.9,29.2-8.94,4.65-17.87,9.31-26.68,14.21-8.33,4.64-10.15,10.01-6.21,18.56,4.22,9.14,8.78,18.13,13.25,27.16,5.94,11.99,5.91,23.93-.04,35.92-4.24,8.55-8.44,17.12-12.52,25.75-4.89,10.36-3.26,15.13,6.99,20.68,8.39,4.55,16.82,9.03,25.27,13.46,11.92,6.23,18.72,16.01,20.83,29.24,1.51,9.42,3.17,18.83,4.89,28.21,1.87,10.2,7.16,13.91,17.5,12.4,8.92-1.3,17.85-2.59,26.76-3.98,14.03-2.19,26.24,1.05,36.33,11.48,5.72,5.91,11.79,11.49,17.69,17.22,11.02,10.68,15.15,10.73,25.94.27,5.34-5.17,10.91-10.13,15.96-15.57,11.32-12.22,24.96-16.11,41.16-12.94,9.1,1.78,18.37,2.66,27.18,3.89Z"
    /><path
      d="m120.32,293.28c-10.99-.27-16.49-9.14-12.64-16.59,1.3-2.52,3.38-4.74,5.42-6.78,49.51-49.58,99.06-99.12,148.64-148.64,1.86-1.86,3.87-3.7,6.13-4.99,5.04-2.87,10.6-2.28,13.47,2.38,2.13,3.47,2.35,8.75,1.77,13-.36,2.65-3.62,5.04-5.85,7.28-48.95,49.02-97.91,98.02-146.99,146.91-3.39,3.38-7.74,5.81-9.95,7.43Z"
    /><path
      d="m148.78,98.34c23.75.14,42.91,19.49,42.73,43.15-.18,23.63-19.86,43.16-43.22,42.88-23.59-.28-43.05-19.99-42.81-43.37.25-23.74,19.59-42.8,43.3-42.66Zm-.55,62.51c10.23.19,20.03-9.47,19.98-19.68-.05-9.87-9.45-19.37-19.36-19.56-9.87-.19-19.51,8.97-19.94,18.94-.44,10.17,9.03,20.11,19.32,20.3Z"
    /><path
      d="m242.77,309.67c-23.75.07-43.01-19.06-43.1-42.81-.09-23.55,19.37-43.16,42.89-43.25,23.43-.08,43.08,19.52,43.16,43.04.08,23.6-19.24,42.94-42.95,43.01Zm19.55-43.04c-.09-10.27-9.93-19.77-20.17-19.47-9.92.29-19.22,9.86-19.15,19.71.07,9.88,9.49,19.36,19.4,19.53,10.2.17,20.01-9.57,19.92-19.77Z"
    />
  </g>
</svg>
