<script lang="ts">
  export let width = 24;
  export let height = 24;
</script>

<svg {width} {height} viewBox="0 -960 960 960">
  <path
    d="M406-205v-66h147v66H406ZM242-485.384v-66.001h474v66.001H242ZM120-765.769v-66h719v66H120Z"
  />
</svg>
