<script lang="ts">
  export let width = 24;
  export let height = 24;
</script>

<svg {width} {height} viewBox="0 0 24 24">
  <path
    fill="currentColor"
    d="M9 17H7v-7h2v7m4 0h-2V7h2v10m4 0h-2v-4h2v4m2 2H5V5h14v14.1M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2Z"
  />
</svg>
