<script lang="ts">
  export let width = 22;
  export let height = 22;
</script>

<svg {width} {height} viewBox="0 0 16 16">
  <g
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
  >
    <circle cx="8" cy="2.5" r=".75" /><circle cx="8" cy="8" r=".75" /><circle
      cx="8"
      cy="13.5"
      r=".75"
    />
  </g>
</svg>
