<script lang="ts">
  export let width = 24;
  export let height = 24;
</script>

<svg {width} {height} viewBox="0 -960 960 960">
  <path
    d="M80-560v-320h320v320H80Zm60-60h200v-200H140v200ZM80-80v-320h320v320H80Zm60-60h200v-200H140v200Zm420-420v-320h320v320H560Zm60-60h200v-200H620v200ZM560-80v-320h320v320H560Zm60-60h200v-200H620v200ZM340-620Zm0 280Zm280-280Zm0 280Z"
  />
</svg>
