<script lang="ts">
  import Navigation from '$lib/components/navigation.svelte';
  import UserIcon from '$lib/components/icons/user.svelte';
  import MenuKebab from '$lib/components/icons/menu-kebab.svelte';
</script>

<div class="flex h-screen w-full bg-stone-50 pl-0 pt-2">
  <aside
    class="flex max-w-[240px] flex-1 flex-col justify-between md:col-span-3 lg:col-span-2"
  >
    <div class=" px-4 pb-6 pt-5">
      <a href="/" class="flex gap-2">
        <img src="/images/logo/iso.svg" class="h-[42px]" alt="Clinica Visage" />
        <img
          src="/images/logo/visage.svg"
          class="hidden h-[50px] w-[144] pt-1 md:inline-block"
          alt="Clinica Visage"
        />
      </a>
    </div>

    <Navigation />

    <div class="flex justify-between gap-2 border-t border-stone-300 p-4">
      <div
        class="flex h-[45px] w-[45px] items-center justify-center rounded-full bg-stone-300"
      >
        <UserIcon />
      </div>
      <button class="flex-grow">
        <div class="flex flex-col items-start justify-start">
          <span class="font-medium text-stone-500"> Gil Sanjuan </span>
          <span class="text-sm text-stone-400"> Admin </span>
        </div>
      </button>
      <button>
        <MenuKebab />
      </button>
    </div>
  </aside>

  <main
    class="flex-1 overflow-auto rounded-tl-3xl border-2 border-neutral-200 bg-neutral-50 p-8
  drop-shadow-2xl md:col-span-9 lg:col-span-10"
  >
    <slot />
  </main>
</div>
