<script lang="ts">
  import Calendar from '$lib/components/appointments/Calendar.svelte';
  import PlusIcon from '$lib/components/icons/plus.svelte';
  import Colorbar from '$lib/components/appointments/Colorbar.svelte';
  import Cabs from '$lib/components/appointments/Cabs.svelte';
  import Datepicker from '$lib/components/appointments/Datepicker.svelte';

  let store;
</script>

<header class="z-40 mb-2 border-b border-neutral-200 bg-neutral-50 pb-3">
  <div class="flex items-center justify-between gap-4">
    <div class="flex items-baseline gap-4">
      <h1 class="text-3xl font-medium">Citas</h1>
      <Cabs />
      <Datepicker bind:store />
    </div>
    <button
      class=" hover:text-neutral-50; } flex h-10 items-center gap-2 rounded-lg border border-neutral-400 pl-3 pr-4
    hover:bg-neutral-400"
    >
      <PlusIcon width={22} height={22} />
      <span>Registrar nueva cita </span>
    </button>
  </div>
</header>
<div class="calendar">
  <Colorbar />
  <Calendar bind:store />
  <!-- <div class="mt-10" id="ec" /> -->
</div>
