<script lang="ts">
  import DashboardLayout from '$lib/components/layouts/Dashboard.svelte';
  import {
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
  } from 'flowbite-svelte';
</script>

<DashboardLayout title="Clinicas" showAddButton={true} showSearch={true}>
  <Table hoverable={true}>
    <TableHead>
      <TableHeadCell>Nombre</TableHeadCell>
      <TableHeadCell>Area</TableHeadCell>
      <TableHeadCell>Ciudad</TableHeadCell>
      <TableHeadCell>Teléfono</TableHeadCell>
      <TableHeadCell>Activa</TableHeadCell>
    </TableHead>
    <TableBody class="divide-y">
      <TableBodyRow>
        <TableBodyCell
          ><a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            Casa Visage
          </a></TableBodyCell
        >
        <TableBodyCell>La Estancia</TableBodyCell>
        <TableBodyCell>Zapopan</TableBodyCell>
        <TableBodyCell>3335636090, 33444847</TableBodyCell>
        <TableBodyCell>Si</TableBodyCell>
      </TableBodyRow>
    </TableBody>
  </Table>
</DashboardLayout>
