<script lang="ts">
  import {
    Button,
    Popover,
    Toggle,
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
    TableSearch,
  } from 'flowbite-svelte';
</script>

<Button
  id="show-cabs"
  class="text-md border border-stone-400 bg-stone-50 px-4 py-1 text-stone-700 hover:bg-stone-200"
>
  Cabinas
</Button>
<Popover
  trigger="click"
  placement="bottom"
  triggeredBy="#show-cabs"
  class="z-[1010] text-sm font-light"
>
  <Table hoverable={true}>
    <TableHead>
      <TableHeadCell>Sucursal</TableHeadCell>
      <TableHeadCell>Areas grandes</TableHeadCell>
      <TableHeadCell>Areas chicas</TableHeadCell>
      <TableHeadCell>Faciales</TableHeadCell>
      <TableHeadCell>Corporales</TableHeadCell>
    </TableHead>
    <TableBody class="divide-y">
      <TableBodyRow>
        <TableBodyCell>Casa Visage</TableBodyCell>
        <TableBodyCell>
          <Toggle size="small">1</Toggle>
        </TableBodyCell>
        <TableBodyCell class="flex space-x-6">
          <Toggle size="small">1</Toggle>
          <Toggle size="small">2</Toggle>
        </TableBodyCell>
        <TableBodyCell>
          <Toggle size="small">1</Toggle>
        </TableBodyCell>
        <TableBodyCell>
          <Toggle size="small">1</Toggle>
        </TableBodyCell>
      </TableBodyRow>
      <TableBodyRow>
        <TableBodyCell>Plaza Alegra</TableBodyCell>
        <TableBodyCell>
          <Toggle size="small">1</Toggle>
        </TableBodyCell>
        <TableBodyCell>
          <Toggle size="small">1</Toggle>
        </TableBodyCell>
        <TableBodyCell />
        <TableBodyCell />
      </TableBodyRow>
    </TableBody>
  </Table>
</Popover>
