<script lang="ts">
  export let status: string;
  export let timeText: string;
  export let folio: string;
  export let firstName: string;
  export let lastName: string;
</script>

<div class="ec-event-time">
  <span class="pr-1 font-bold">
    {timeText}
  </span>
  <span class="pr-1 font-bold">
    {folio}
  </span>
  <span>
    {status}
  </span>
</div>
<div class="ec-event-title">
  {firstName}
  {lastName}
</div>
<div class="ec-event-body">
  <button>Click</button>
</div>
<div hidden class="popover-content">Popover content</div>
