<script lang="ts">
  import Calendar from '@event-calendar/core';
  import TimeGridList from '@event-calendar/list';
  import TimeGrid from '@event-calendar/time-grid';
  import TimeGridDay from '@event-calendar/day-grid';
  import TimeGridResource from '@event-calendar/resource-time-grid';
  // import { calendarColors } from '$lib/constants/calendarColors';
  import {
    servicesToHTML,
    createEvents,
    calendarBaseOptions,
  } from '$lib/utils/calendar';
  import Modal from '$lib/components/Modal.svelte';
  import CalendarEvent from './CalendarEvent.svelte';

  export let store;
  $: store;

  $: if ($store?.selected) {
    ec.setOption('date', $store?.selected);
  }

  let ec;
  let plugins = [TimeGrid, TimeGridList, TimeGridDay, TimeGridResource];
  let options = {
    ...calendarBaseOptions,
    resources: [
      { id: 1, title: 'Casa Visage | Áreas grandes' },
      { id: 2, title: 'Casa Visage | Áreas chicas 1' },
      // { id: 5, title: 'Casa Visage | Áreas chicas 2' },
      { id: 3, title: 'Casa Visage | Faciales' },
      { id: 4, title: 'Casa Visage | Corporales' },
    ],
    events: createEvents(),
    eventContent: function (info) {
      // console.log('info: ', info);
      return {
        html:
          info.event.display === 'auto'
            ? `<div class="ec-event-time">` +
              `<span class="font-bold pr-1">` +
              info.timeText +
              `</span>` +
              `<span class="font-bold pr-1">` +
              ` (${info?.event?.extendedProps?.folio})` +
              `</span>` +
              `<span class="">` +
              // ` ${info?.event?.extendedProps?.status}` +
              `</span>` +
              '</div>' +
              '<div class="ec-event-title">' +
              `${info?.event?.extendedProps?.firstName} ${info?.event?.extendedProps?.lastName}` +
              '</div>' +
              '<div class="ec-event-body">' +
              servicesToHTML(info?.event?.extendedProps?.services) +
              '</div>' +
              '<div hidden class="popover-content">Popover content: ' +
              info.timeText +
              '</div>'
            : '',
      };
    },
    eventDidMount: function (info: {
      event: { display: string; id: any };
      el: { addEventListener: (arg0: string, arg1: () => void) => void };
    }) {
      if (info.event.display === 'auto') {
        info.el.addEventListener('click', function (this: any) {
          console.log('DID MOUNT: ', info);
          currentModalInfo = {
            status: info?.event?.extendedProps?.status,
            timeText: info?.timeText,
            folio: info?.event?.extendedProps?.folio,
            firstName: info?.event?.extendedProps?.firstName,
            lastName: info?.event?.extendedProps?.lastName,
          };
          clickOutsideModal = true;
        });
      }
    },
  };

  let clickOutsideModal = false;
  let modalTitle = '';

  let currentModalInfo = {
    status: '',
    timeText: '',
    folio: '',
    firstName: '',
    lastName: '',
  };

  // onMount(() => {
  //   const btns = document.getElementsByClassName('btn-event');

  //   for (const btn of btns) {
  //     btn.addEventListener('click', function (e) {
  //       console.log('BTN: ', e.currentTarget.getAttribute('data-id'));
  //     });
  //   }
  // });
</script>

<div id="calendar">
  <Calendar bind:this={ec} {plugins} {options} />
  <Modal bind:clickOutsideModal title={modalTitle}>
    <CalendarEvent {...currentModalInfo} />
  </Modal>
</div>

<style lang="postcss">
  :global(.ec-event) {
    /* border: 2px dashed #fff; */
    padding: 2px;
    font-weight: 400;
    font-size: 0.95rem;
    border-left: 2px solid currentColor;
    overflow: hidden;
  }
  :global(.ec-event-title, .ec-event-body) {
    padding-left: 6px;
  }
  :global(.ec-week .ec-event) {
    box-shadow: 1px 2px 16px -1px rgba(128, 128, 128, 0.2);
    -webkit-box-shadow: 1px 2px 16px -1px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 1px 2px 16px -1px rgba(128, 128, 128, 0.2);
  }
  :global(.ec-event:hover) {
    z-index: 10 !important;
    /* width: 280px !important; */
    --width: 100%;
    width: calc(100% + 10%) !important;
    height: auto !important;
  }
  :global(.ec-week .ec-event:hover) {
    min-height: 97px !important;
    box-shadow: -1px 3px 16px -2px rgba(128, 128, 128, 0.7);
    -webkit-box-shadow: -1px 3px 16px -2px rgba(128, 128, 128, 0.7);
    -moz-box-shadow: -1px 3px 16px -2px rgba(128, 128, 128, 0.7);
  }
  :global(.ec-now-indicator) {
    border-top: #1f7647 solid 2px;
  }
  :global(.ec-now-indicator:before) {
    background: #1f7647;
  }
  :global(.ec-day.ec-today) {
    @apply bg-green-vis-50;
  }
  :global(.ec-header, .ec-all-day, .ec-body, .ec-days, .ec-header .ec-day) {
    border: none;
  }
  :global(.ec-day) {
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  :global(.ec-event-time) {
    margin: 0px;
  }
</style>
