<script lang="ts">
  export let text;
  export let color;
  import { Popover } from 'flowbite-svelte';
</script>

<div id={`color-${text}`} class="cursor-pointer">
  <div class={`inline-block h-3 w-3 rounded-full ${color}`} />
</div>
<Popover
  placement="bottom"
  class="text-md w-18 font-medium capitalize"
  triggeredBy={`#color-${text}`}
>
  {text}
</Popover>
