<script lang="ts">
  import Colorover from '$lib/components/appointments/Colorover.svelte';
  import { calendarColors } from '$lib/constants/calendarColors';
</script>

<div class="flex items-center space-x-5">
  {#each calendarColors as cColor}
    <Colorover text={cColor.text} color={cColor.color} />
  {/each}
</div>
