<script lang="ts">
  import dayjs from 'dayjs';
  import { Popover, Button } from 'flowbite-svelte';
  import { InlineCalendar } from '$lib/components/svelte-calendar/index';

  // Datepicker
  const theme = {
    calendar: {
      width: '340px',
      maxWidth: '100vw',
      legend: {
        height: '40px',
      },
      control: {
        height: '30px',
      },
      shadow: '0px 0px 1px rgba(0, 0, 0, 0.25)',
      colors: {
        text: {
          primary: '#333',
          highlight: '#fff',
        },
        background: {
          primary: '#fff',
          highlight: '#45ac6c',
          hover: '#eee',
        },
        border: '#eee',
      },
      font: {
        regular: '1em',
        large: '30em',
      },
      grid: {
        disabledOpacity: '.35',
        outsiderOpacity: '.6',
      },
    },
  };

  export let store;
</script>

<Button
  id="btnDatepicker"
  class="text-md border border-stone-400 bg-stone-50 px-4 py-1 text-stone-700 hover:bg-stone-200"
>
  {#if $store?.hasChosen}
    {dayjs($store.selected).format('ddd MMM D, YYYY')}
  {:else}
    {dayjs().format('ddd MMM D, YYYY')}
  {/if}
</Button>
<Popover
  trigger="click"
  placement="bottom"
  triggeredBy="#btnDatepicker"
  class="w-68 z-[1010] text-sm font-light"
>
  <div class="grid w-[340px] grid-cols-4 bg-neutral-200">
    <div class="col-span-4">
      <InlineCalendar bind:store {theme} />
    </div>

    <button
      class="col-span-1 p-2 font-medium hover:bg-neutral-400 hover:text-neutral-50"
      on:click={() => store.add(-1, 'year')}>-1a</button
    >
    <button
      class="col-span-1 p-2 font-medium hover:bg-neutral-400 hover:text-neutral-50"
      on:click={() => store.add(-1, 'month')}>-1m</button
    >
    <button
      class="col-span-1 p-2 font-medium hover:bg-neutral-400 hover:text-neutral-50"
      on:click={() => store.add(1, 'month')}>+1m</button
    >
    <button
      class="col-span-1 p-2 font-medium hover:bg-neutral-400 hover:text-neutral-50"
      on:click={() => store.add(1, 'year')}>+1a</button
    >
  </div>
</Popover>
