<script lang="ts">
  import DashboardLayout from '$lib/components/layouts/Dashboard.svelte';
  import {
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
  } from 'flowbite-svelte';
</script>

<DashboardLayout title="Paquetes" showAddButton={true} showSearch={true}>
  <Table hoverable={true}>
    <TableHead>
      <TableHeadCell>Nombre</TableHeadCell>
      <TableHeadCell>Género</TableHeadCell>
      <TableHeadCell>Precio</TableHeadCell>
      <TableHeadCell>Descuento</TableHeadCell>
      <TableHeadCell>Servicios</TableHeadCell>
      <TableHeadCell>Activo</TableHeadCell>
    </TableHead>
    <TableBody class="divide-y">
      <TableBodyRow>
        <TableBodyCell
          ><a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            PROMO JULIO 2023 MEDIA PIERNA + MEDIO BRAZO
          </a></TableBodyCell
        >
        <TableBodyCell>Femenino</TableBodyCell>
        <TableBodyCell>$7,800.00 MXN</TableBodyCell>
        <TableBodyCell>20%</TableBodyCell>
        <TableBodyCell>1/2 Piernas. 1/2 Brazo</TableBodyCell>
        <TableBodyCell>Si</TableBodyCell>
      </TableBodyRow>
    </TableBody>
  </Table>
</DashboardLayout>
