<script lang="ts">
  import {
    Button,
    Dropdown,
    Search,
    Radio,
    Helper,
    Pagination,
  } from 'flowbite-svelte';
  import PlusIcon from '$lib/components/icons/plus.svelte';
  import FilterIcon from '$lib/components/icons/filter.svelte';

  let group3 = 2;
  let pages = [
    { name: 1, href: '/' },
    { name: 2, href: '/' },
  ];
  const previous = () => {
    alert('Previous btn clicked. Make a call to your server to fetch data.');
  };
  const next = () => {
    alert('Next btn clicked. Make a call to your server to fetch data.');
  };

  export let title: string;
  export let showFilterClinic: boolean = false;
  export let showFilterClient: boolean = false;
  export let showSearch: boolean = false;
  export let showAddButton: boolean = false;
</script>

<svelte:head>
  <title>{title} | Visage</title>
</svelte:head>

<header class="z-40 mb-2 border-b border-neutral-200 bg-neutral-50 pb-3">
  <div class="flex items-center justify-between gap-4">
    <div class="flex items-baseline gap-4">
      <h1 class="text-3xl font-medium">{title}</h1>
      {#if showFilterClinic}
        <div>
          <Button class="space-x-1 bg-neutral-100 text-sm text-neutral-500">
            <span>Clinica: Todas</span>
            <FilterIcon width={14} height={14} />
          </Button>
          <Dropdown class="w-60 space-y-1 p-3 text-sm">
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={1}
                >Casa Visage</Radio
              >
              <Helper class="pl-6">Ver clientes de Casa Visage</Helper>
            </li>
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={2}
                >Plaza Alegra</Radio
              >
              <Helper class="pl-6">Ver clientes de Plaza Alegra</Helper>
            </li>
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={3}
                >Providencia</Radio
              >
              <Helper class="pl-6">Ver clientes de Providencia</Helper>
            </li>
          </Dropdown>
        </div>
      {/if}
      {#if showFilterClient}
        <div>
          <Button class="space-x-1 bg-neutral-100 text-sm text-neutral-500">
            <span>Clientes: Todos</span>
            <FilterIcon width={14} height={14} />
          </Button>
          <Dropdown class="z-20 w-60 space-y-1 p-3 text-sm">
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={1}>Todos</Radio>
              <Helper class="pl-6">Mostrar todos los clientes</Helper>
            </li>
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={2}>Activos</Radio>
              <Helper class="pl-6">Mostrar solo clientes activos</Helper>
            </li>
            <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
              <Radio name="group3" bind:group={group3} value={3}
                >Inactivos</Radio
              >
              <Helper class="pl-6">Mostrar solo clientes inactivos</Helper>
            </li>
          </Dropdown>
        </div>
      {/if}
    </div>
    {#if showSearch}
      <div>
        <Search class="w-72" placeholder="Buscar..." />
      </div>
    {/if}
    {#if showAddButton}
      <button
        class=" hover:text-neutral-50; } flex h-10 items-center gap-2 rounded-lg border border-neutral-400 pl-3 pr-4
    hover:bg-neutral-400"
      >
        <PlusIcon width={22} height={22} />
        <span class="text-sm uppercase"> Crear nuevo </span>
      </button>
    {/if}
  </div>
</header>

<div class="mt-8">
  <slot />
</div>
<div class="mt-4 flex justify-end">
  <Pagination {pages} large on:previous={previous} on:next={next}>
    <svelte:fragment slot="prev">
      <span class="">Anterior</span>
    </svelte:fragment>
    <svelte:fragment slot="next">
      <span class="">Siguiente</span>
    </svelte:fragment>
  </Pagination>
</div>
