<script lang="ts">
  import {
    Button,
    Dropdown,
    Search,
    Radio,
    Helper,
    Pagination,
    Datepicker,
  } from 'flowbite-svelte';
  import PlusIcon from '$lib/components/icons/plus.svelte';
  import FilterIcon from '$lib/components/icons/filter.svelte';
  import {
    Table,
    TableBody,
    TableBodyCell,
    TableBodyRow,
    TableHead,
    TableHeadCell,
  } from 'flowbite-svelte';

  let group3 = 2;
  let pages = [
    { name: 1, href: '/' },
    { name: 2, href: '/' },
  ];
  const previous = () => {
    alert('Previous btn clicked. Make a call to your server to fetch data.');
  };
  const next = () => {
    alert('Next btn clicked. Make a call to your server to fetch data.');
  };
</script>

<svelte:head />

<header class="z-10 mb-2 border-b border-neutral-200 bg-neutral-50 pb-3">
  <div class="flex items-center justify-between gap-4">
    <div class="flex items-baseline gap-4">
      <h1 class="text-3xl font-medium">Ordenes de pago</h1>
      <div>
        <Button class="space-x-1 bg-neutral-100 text-sm text-neutral-500">
          <span>Clinica: Todas</span>
          <FilterIcon width={14} height={14} />
        </Button>
        <Dropdown class="z-20 w-60 space-y-1 p-3 text-sm">
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={1}
              >Casa Visage</Radio
            >
            <Helper class="pl-6">Ver clientes de Casa Visage</Helper>
          </li>
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={2}
              >Plaza Alegra</Radio
            >
            <Helper class="pl-6">Ver clientes de Plaza Alegra</Helper>
          </li>
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={3}
              >Providencia</Radio
            >
            <Helper class="pl-6">Ver clientes de Providencia</Helper>
          </li>
        </Dropdown>
      </div>
      <div>
        <Button class="space-x-1 bg-neutral-100 text-sm text-neutral-500">
          <span>Clientes: Todos</span>
          <FilterIcon width={14} height={14} />
        </Button>
        <Dropdown class="z-20 w-60 space-y-1 p-3 text-sm">
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={1}>Todos</Radio>
            <Helper class="pl-6">Mostrar todos los clientes</Helper>
          </li>
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={2}>Activos</Radio>
            <Helper class="pl-6">Mostrar solo clientes activos</Helper>
          </li>
          <li class="rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
            <Radio name="group3" bind:group={group3} value={3}>Inactivos</Radio>
            <Helper class="pl-6">Mostrar solo clientes inactivos</Helper>
          </li>
        </Dropdown>
      </div>
    </div>
    <div>
      <Search placeholder="Buscar..." />
    </div>
    <button
      class=" hover:text-neutral-50; } flex h-10 items-center gap-2 rounded-lg border border-neutral-400 pl-3 pr-4
    hover:bg-neutral-400"
    >
      <PlusIcon width={22} height={22} />
      <span class="text-sm uppercase"> Crear nueva orden de pago </span>
    </button>
  </div>
</header>

<div class="mt-8">
  <Table hoverable={true}>
    <TableHead>
      <TableHeadCell>Folio</TableHeadCell>
      <TableHeadCell>Cliente</TableHeadCell>
      <TableHeadCell>Clinica</TableHeadCell>
      <TableHeadCell>Servicios / Productos</TableHeadCell>
      <TableHeadCell>Por pagar</TableHeadCell>
      <TableHeadCell>Total</TableHeadCell>
      <TableHeadCell>Fecha de pago</TableHeadCell>
      <TableHeadCell>Pagada</TableHeadCell>
      <TableHeadCell>
        <span class="sr-only"> Edit </span>
      </TableHeadCell>
    </TableHead>
    <TableBody class="divide-y">
      <TableBodyRow>
        <TableBodyCell>F-0335</TableBodyCell>
        <TableBodyCell>TANIA ABARCA ROJAS</TableBodyCell>
        <TableBodyCell>Casa Visage</TableBodyCell>
        <TableBodyCell>Desodorante</TableBodyCell>
        <TableBodyCell>Pagada</TableBodyCell>
        <TableBodyCell>$88.00 MXN</TableBodyCell>
        <TableBodyCell>2023-07-08</TableBodyCell>
        <TableBodyCell>Si</TableBodyCell>
        <TableBodyCell class="text-right">
          <a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            Edit
          </a>
        </TableBodyCell>
      </TableBodyRow>
      <TableBodyRow>
        <TableBodyCell>F-0335</TableBodyCell>
        <TableBodyCell>TANIA ABARCA ROJAS</TableBodyCell>
        <TableBodyCell>Casa Visage</TableBodyCell>
        <TableBodyCell>Desodorante</TableBodyCell>
        <TableBodyCell>Pagada</TableBodyCell>
        <TableBodyCell>$88.00 MXN</TableBodyCell>
        <TableBodyCell>2023-07-08</TableBodyCell>
        <TableBodyCell>Si</TableBodyCell>
        <TableBodyCell class="text-right">
          <a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            Edit
          </a>
        </TableBodyCell>
      </TableBodyRow>
      <TableBodyRow>
        <TableBodyCell>F-0335</TableBodyCell>
        <TableBodyCell>TANIA ABARCA ROJAS</TableBodyCell>
        <TableBodyCell>Casa Visage</TableBodyCell>
        <TableBodyCell>Desodorante</TableBodyCell>
        <TableBodyCell>Pagada</TableBodyCell>
        <TableBodyCell>$88.00 MXN</TableBodyCell>
        <TableBodyCell>2023-07-08</TableBodyCell>
        <TableBodyCell>Si</TableBodyCell>
        <TableBodyCell class="text-right">
          <a
            href="/"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >
            Edit
          </a>
        </TableBodyCell>
      </TableBodyRow>
    </TableBody>
  </Table>
</div>
<div class="mt-4 flex justify-end">
  <Pagination {pages} large on:previous={previous} on:next={next}>
    <svelte:fragment slot="prev">
      <span class="">Anterior</span>
    </svelte:fragment>
    <svelte:fragment slot="next">
      <span class="">Siguiente</span>
    </svelte:fragment>
  </Pagination>
</div>
