<script lang="ts">
  import { Modal } from 'flowbite-svelte';
  export let clickOutsideModal = false;
  export let title: string;
</script>

<Modal {title} bind:open={clickOutsideModal} autoclose outsideclose>
  <slot />
</Modal>
