<script lang="ts">
  import PlusIcon from '$lib/components/icons/plus.svelte';
  import MinusIcon from '$lib/components/icons/minus.svelte';
  import CalendarIcon from '$lib/components/icons/calendar.svelte';
  import InnerIcon from '$lib/components/icons/innerChart.svelte';
  import UserIcon from '$lib/components/icons/user.svelte';
  import ExchangeIcon from '$lib/components/icons/exchange.svelte';
  import SquaresIcon from '$lib/components/icons/squares.svelte';
  import DiscountIcon from '$lib/components/icons/discount.svelte';
  import LocationIcon from '$lib/components/icons/location.svelte';
  import SettingsIcon from '$lib/components/icons/settings.svelte';
</script>

<nav class="overflow h-full">
  <ul class="">
    <li>
      <a href="/" class="nav-button">
        <span class="icon">
          <InnerIcon />
        </span>
        <span class="text"> Resumen </span>
      </a>
    </li>
    <li>
      <a href="/citas" class="nav-button">
        <div class="icon">
          <CalendarIcon width={22} height={22} />
        </div>
        <span class="text"> Citas </span>
      </a>
    </li>
    <li>
      <a href="/clientes" class="nav-button">
        <span class="icon">
          <UserIcon width={22} height={22} />
        </span>
        <span class="text"> Clientes </span>
      </a>
    </li>
    <li>
      <a href="/ordenes" class="nav-button">
        <span class="icon">
          <ExchangeIcon />
        </span>
        <span class="text"> Ordenes de Pago </span>
      </a>
    </li>
    <li>
      <button class="nav-button">
        <span class="icon">
          <ExchangeIcon />
        </span>
        <span class="text"> Gasto Corriente </span>
        <span class="plus">
          <PlusIcon />
        </span>
        <span class="minus">
          <MinusIcon />
        </span>
      </button>
      <ul>
        <li><a href="/gasto-corriente/fondeo" class="nav-button">Fondeo</a></li>
        <li><a href="/gasto-corriente/gastos" class="nav-button">Gastos</a></li>
        <li>
          <a href="/gasto-corriente/retiros" class="nav-button">Retiros</a>
        </li>
      </ul>
    </li>
    <li>
      <button class="nav-button">
        <span class="icon">
          <SquaresIcon />
        </span>
        <span class="text"> Catalogo </span>
        <span class="plus">
          <PlusIcon />
        </span>
        <span class="minus">
          <MinusIcon />
        </span>
      </button>
      <ul>
        <li><a href="/catalogo/servicios" class="nav-button">Servicios</a></li>
        <li><a href="/catalogo/productos" class="nav-button">Productos</a></li>
        <li><a href="/catalogo/paquetes" class="nav-button">Paquetes</a></li>
      </ul>
    </li>
    <li>
      <button class="nav-button">
        <span class="icon">
          <DiscountIcon />
        </span>
        <span class="text"> Descuentos </span>
        <span class="plus">
          <PlusIcon />
        </span>
        <span class="minus">
          <MinusIcon />
        </span>
      </button>
      <ul>
        <li><a href="/" class="nav-button">De valor</a></li>
        <li><a href="/" class="nav-button">Comprar X recibir Y</a></li>
        <li><a href="/" class="nav-button">Código</a></li>
      </ul>
    </li>
    <li>
      <a href="/clinicas" class="nav-button">
        <span class="icon">
          <LocationIcon />
        </span>
        <span class="text"> Clinicas </span>
      </a>
    </li>
    <li>
      <button class="nav-button">
        <span class="icon">
          <SettingsIcon />
        </span>
        <span class="text"> Ajustes </span>
        <span class="plus">
          <PlusIcon />
        </span>
        <span class="minus">
          <MinusIcon />
        </span>
      </button>
      <ul>
        <li>
          <a href="/" class="nav-button">Comisiones</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style lang="postcss">
  .nav-button {
    @apply flex w-full items-center gap-2 border-r-4 border-stone-50 fill-stone-400 py-2 pl-4 pr-2 
    font-medium tracking-normal hover:border-green-vis-500;
  }
  .nav-button .text {
    @apply hidden flex-grow text-stone-400 md:inline-block;
  }
  .nav-button:hover .text {
    @apply text-stone-600;
  }
  .nav-button .icon {
    @apply fill-stone-400 text-stone-400;
  }
  .nav-button:hover .icon {
    @apply fill-green-vis-500 text-green-vis-500;
  }
  .nav-button .plus,
  .nav-button .minus {
    @apply fill-stone-400 text-stone-400 opacity-80;
  }
  .nav-button .minus,
  .nav-button:hover .plus {
    @apply hidden;
  }
  .nav-button:hover .minus {
    @apply inline-block;
  }
  button.nav-button {
    @apply w-full text-left;
  }

  /* Child */
  nav li ul {
    @apply ml-7 hidden pl-1;
  }
  nav li ul li {
    @apply pl-2 text-stone-400 hover:text-stone-500;
  }
  nav li ul li a {
    @apply pl-2 text-stone-400 hover:text-stone-500;
  }

  /* hover */
  nav li:hover ul,
  nav li button:hover ul {
    @apply block;
  }

  nav li:hover ul,
  nav li button:hover ul {
    @apply block;
  }
</style>
